div.userprofile
{
  border: 2px solid gray;
  width: 45%;
  position: relative;
  left: 540px;
  top: -50px;
}

img.userprofilephoto
{
  position: relative;
  width: 20%;
}

button.usercredential
{
  padding: 0;
  border: none;
  background: none;
  outline: transparent;
  position: relative;
  top: -155px;
  left: 197px;
}

button.usercredential:hover
{
  border-bottom: 1px solid;
}

button.userdescription
{
  border: none;
  background: none;
  padding: 0;
  outline: transparent;
  position: relative;
  left: 42px;
  top:-125px;
}

button.userdescription:hover
{
  border-bottom: 1px solid;
}

p.userprofilename
{
  position: relative;
  top: -145px;
  left: 195px;
  font-size: 20px;
  font-weight: bold;
}