div.userprofile
{
  border: 0px solid gray;
  width: 60%;
  position: absolute;
  left: 23%;
  top: 13%;
  height: 60%;
}

img.userprofilephoto
{
  position: relative;
  width: 14%;
}

button.usercredential
{
  padding: 0;
  border: none;
  background: none;
  outline: transparent;
  position: absolute;  
  top: 8%;
  left: 15%;
}

button.usercredential:hover
{
  text-decoration-line: underline;
}

button.userdescription
{
  border: none;
  background: none;
  padding: 0;
  outline: transparent;
  position: absolute;
  left: 15%;
  top:12%;
}

button.userdescription:hover
{
  text-decoration-line: underline;
}

p.userprofilename
{
  position: absolute;
  top: 3%;
  left: 15%;
  font-size: 20px;
  font-weight: bold;
}

.userfeedsheading
{
  position: absolute;
  font-weight: bold;
  left: 24%;
  top: 33%;
}

.userprofileseparation
{
  position: absolute;
  border-top: 2px solid gray;
  left: 23%;
  top: 30%;
  width: 40%;
}

.feedseparation
{
  position: absolute;
    width: 6%;
    left: 23%;
    top: 34%;
}
.totalanswerusergave
{
    position: absolute;
    left: 24%;
    top: 36%;
}

.totalquestionusergave
{
  position: absolute;
  left: 24%;
  top: 39%;
}

.totalanswerusergave:hover
{
  color:blue;
}

.totalquestionusergave:hover
{
     color: blue;
}

.totalFollowing
{
  position: absolute;
  left: 24%;
  top: 45%;
}

.totalFollowing:hover{
  color: blue;
}

.totalfollowers
{
  position: absolute;
  left: 24%;
  top: 42%;
}


.totalfollowers:hover
{
  color: blue;
}

.usergivenquestions
{
  position: absolute;
  top: 33%;
  left: 34%;
  font-weight: bold; 
}

.questionseparation
{
  position: absolute;
  left: 33%;
  top: 34%;
  width: 30%;
}

.highlightsheading
{
  position: absolute;
  left: 68%;
  top:15%;
  font-weight: bold;
}

.highlightseparation
{
  position: absolute;
  left: 68%;
  top:17%;
  width: 13%;
}
.employment
{
   background-color: white;
   outline:none !important;
   border: 0px;
   position: absolute;
   left: 70%;
   top: 20%;
   color: blue;
}
.educationcredential
{
  background-color: white;
   outline:none !important;
   border: 0px;
   position: absolute;
   left: 70%;
   top: 23%;
   color: blue;
}